/*vars ==================*/
html:root {
}

/*vars END ==============*/
/*config ==================*/
$max-width-container: 1280;
$padding-security: 15;
html:root {
    --max-width-container: #{$max-width-container+ px};
}
/*config END ==============*/

/*font ==================*/
html:root {
    --font-family-base: system-ui;
    --font-size-base: 20px;
    --line-height-base: 1.2;
    --font-weight-base: 400;
    --border-radius-base: 5px;
    --letter-spacing-base: normal;
}

/*font END ==============*/

/*colors ==================*/
html:root {
    --color-0-semi-transparrent: rgba(0, 0, 0, 0.5);
    --color-f-semi-transparrent: rgba(255, 255, 255, 0.5);
    --color-0: #000000;
    --color-f: #fff;
    --color-accent: #000;
    --color-text-base: #000;
}

/*colors END ==============*/

/*transition ==================*/
html:root {
    --transition-duration-base: .5s;
    --transition-function-base: ease-in-out;
    --transition-delay-base: .5s;
}

/*transition END ==============*/

/*pd ==================*/
html:root {
    --padding-security: #{$padding-security+px};
    --padding-security-minus: #{-$padding-security+px};
}
/*pd END ==============*/


/*z-index ==================*/
html:root{
    --z-index-header:200;
    --z-index-focus-effect:300;
    --z-index-popup:500;
}
/*z-index END ==============*/
