/*vars ==================*/
html:root {
}

/*vars END ==============*/
/*config ==================*/
$max-width-container: 1160;
$padding-security: 10;
html:root {
    --max-width-container: #{$max-width-container+ px};
    --header-height-m:60px;
    --header-height-t:80px;
    --header-height-d:93px;
}
/*config END ==============*/

/*font ==================*/
html:root {
    --font-family-base: 'HelveticaNeueCyr';
    --font-family-inter: 'Inter';
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 18px;
    --line-height-base: 1.38;
    --font-weight-base: 400;
    --border-radius-base: 5px;
    --letter-spacing-base: 0.03em;
}

/*font END ==============*/

/*colors ==================*/
html:root {
    --color-0-semi-transparrent: rgba(0, 0, 0, 0.5);
    --color-f-semi-transparrent: rgba(255, 255, 255, 0.5);
    --color-0: #000000;
    --color-f: #fff;
    --color-accent: #9D2C4D;
    --color-sub-accent: #FFEEF2;
    --color-text-base: #505050;
    --color-yellow: #FBE310;
    --color-blue: #0085FF;
    --color-gray: #E3E3E3;
    --color-gray-2: #BBBBBB;
    --color-dark: #404041;
}

/*colors END ==============*/

/*transition ==================*/
html:root {
    --transition-duration-base: .5s;
    --transition-function-base: ease-in-out;
    --transition-delay-base: .5s;
}

/*transition END ==============*/

/*pd ==================*/
html:root {
    --padding-security: #{$padding-security+px};
    --padding-security-minus: #{-$padding-security+px};
}
/*pd END ==============*/


/*z-index ==================*/
html:root{
    --z-index-header:200;
    --z-index-focus-effect:300;
    --z-index-popup:500;
}
/*z-index END ==============*/

.page{
    height: 10000px;
}