/*body ==================*/
body {
    font: normal normal var(--font-weight-base) var(--font-size-s) var(--font-family-base);
    line-height: var(--line-height-base);
    color: var(--color-text-base);
    letter-spacing: var(--letter-spacing-base);
    margin: 0;
    scroll-behavior: smooth;
    &.lock {
        overflow: hidden;
    }
    //&.loaded {
    //    opacity: 1;
    //}
    @media only screen and (min-width:$mdTablet2){
        font-size: var(--font-size-m);
    }
    @media only screen and (min-width:$mdDesc1){
        font-size: var(--font-size-l);
    }
}

/*body END ==============*/

/*wrapper ==================*/
.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows:  auto 1fr auto;
    &.width-marquee{
        grid-template-rows: auto auto 1fr auto;

    }
    // Фикс для слайдеров
    > * {
        min-width: 0;
    }
}
/*wrapper END ==============*/

/*container ==================*/
.container {
    display: block;
    width: 100%;
    max-width: var(--max-width-container);
    margin: 0 auto;
    padding: 0 var(--padding-security);
    @media only screen and (min-width:$mdCnt){
        padding: 0;
    }
}
/*container END ==============*/

/*page ==================*/
.page {
}
/*page END ==============*/



